<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736745761265-7dl2fgu1fvoagaqm7tta96gkb5msi71d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736745761265-7dl2fgu1fvoagaqm7tta96gkb5msi71d</string>
	<key>API_KEY</key>
	<string>AIzaSyCsYEEV3c42b61gQwoATDj-dz-_ORr3eoY</string>
	<key>GCM_SENDER_ID</key>
	<string>736745761265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test</string>
	<key>PROJECT_ID</key>
	<string>lithe-realm-248515</string>
	<key>STORAGE_BUCKET</key>
	<string>lithe-realm-248515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736745761265:ios:2ba6b7cfabbb04c047fc50</string>
	<key>DATABASE_URL</key>
	<string>https://lithe-realm-248515.firebaseio.com</string>
</dict>
</plist>